@font-face {
  font-family: OpenSans;
  font-display: swap;
  src: url("../fonts/OpenSans-Bold.woff2") format("woff2"), url("../fonts/OpenSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: OpenSans;
  font-display: swap;
  src: url("../fonts/OpenSans-ExtraBold.woff2") format("woff2"), url("../fonts/OpenSans-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: OpenSans;
  font-display: swap;
  src: url("../fonts/OpenSans-Light.woff2") format("woff2"), url("../fonts/OpenSans-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: OpenSans;
  font-display: swap;
  src: url("../fonts/OpenSans-Regular.woff2") format("woff2"), url("../fonts/OpenSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: OpenSans;
  font-display: swap;
  src: url("../fonts/OpenSans-Semibold.woff2") format("woff2"), url("../fonts/OpenSans-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

*::after,
*::before,
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  outline: none;
}

body {
  font-style: normal;
  font-family: OpenSans;
}

.main__page {
  width: 100%;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

span {
  color: #E3010F;
}

button {
  cursor: pointer;
}

.header {
  width: 100%;
  padding: 15px 0;
}

.header .btn {
  margin-top: 0px;
}

.header__top {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto auto auto;
  grid-template-columns: auto auto auto auto auto;
  -ms-grid-rows: 88px;
  grid-template-rows: 88px;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
  margin-bottom: 15px;
}

.logo,
.schedule,
.address,
.header-btn {
  position: relative;
  padding-right: 30px;
}

.logo::after,
.schedule::after,
.address::after,
.header-btn::after {
  content: "";
  position: absolute;
  top: 10px;
  right: 0;
  width: 1px;
  height: 68px;
  display: block;
  background: #E3010F;
}

.schedule {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.address-img {
  margin-right: 16px;
}

.address-img img {
  width: 42px;
  height: 42px;
}

.address__text {
  max-width: 107px;
}

.header__strong {
  max-width: 157px;
  font-size: 15px;
  font-weight: 600;
  line-height: 25px;
  color: #0C0C0C;
}

.header-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn {
  font-size: 14px;
  font-weight: 700;
  line-height: 100%;
  padding: 17.5px 18px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  display: inline-block;
  color: #fff;
  background: #E3010F;
}

.number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: end;
}

.number__strong {
  font-size: 20px;
  font-weight: 600;
  line-height: 25px;
  margin-bottom: 4px;
  color: #0C0C0C;
}

.number__btn {
  text-decoration: underline;
  text-align: end;
  cursor: pointer;
  border: none;
  background: transparent;
  color: #E3010F;
}

.menu {
  padding: 15px 0;
  border-bottom: 1px solid #E3010F;
  -webkit-box-shadow: 0px 4px 16px rgba(199, 199, 199, 0.44);
          box-shadow: 0px 4px 16px rgba(199, 199, 199, 0.44);
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu__link {
  position: relative;
  font-size: 20px;
  font-weight: 400;
  line-height: 27px;
  text-transform: uppercase;
  color: #262626;
}

.menu__link:hover::after {
  -webkit-transition: 300ms all;
  -o-transition: 300ms all;
  transition: 300ms all;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.menu__link::after {
  position: absolute;
  bottom: -16px;
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  background: #E3010F;
}

.menu__link.menu__link--active::after {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.toggle {
  display: none;
}

.no-webp .intro {
  background: url(../img/intro__bg.jpg) no-repeat center bottom; }

.intro {
  width: 100%;
}

.intro__body {
  padding: 54px 0;
}

.intro-block {
  margin-bottom: 76px;
}

.intro-block__title {
  margin-bottom: 43px;
}

.intro-block__title.title {
  max-width: 506px;
  font-size: 60px;
  font-weight: 800;
  color: #0C0C0C;
}

.title {
  font-size: 48px;
  font-weight: 800;
  line-height: 115%;
  color: #0C0C0C;
}

.intro-block__list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 21.5px;
}

.intro-block__list li img {
  margin-right: 15px;
}

.intro-block__list li span {
  margin-left: 3px;
}

.intro-block__list li:last-child {
  margin-bottom: 0px;
}

.stock__modal {
  width: 491px;
  max-height: 205px;
  padding: 15px 22.5px 24px 22.5px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 23px rgba(148, 148, 148, 0.17);
          box-shadow: 0px 0px 23px rgba(148, 148, 148, 0.17);
  background: #fff;
}

.stock-modal__block {
  text-align: center;
}

.stock-block__title {
  font-size: 24px;
  font-weight: 800;
  line-height: 137%;
  margin-bottom: 7px;
  color: #E3010F;
}

.stock-block__suptitle {
  font-size: 18px;
  font-weight: 600;
  line-height: 137%;
  margin-bottom: 7px;
  color: #0C0C0C;
}

.stock-block__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 137%;
  margin-bottom: 18px;
  color: #0C0C0C;
}

.stock-modal__submit {
  width: 100%;
  height: 54px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.stock-modal__input {
  width: 245px;
  height: 100%;
  font-size: 15px;
  font-weight: 400;
  line-height: 100%;
  color: #7D7D7D;
  padding: 18.5px 26px;
}

.stock-modal__btn {
  width: 201px;
  height: 100%;
  font-size: 15px;
  font-weight: 700;
  line-height: 100%;
  border-radius: 0px 5px 5px 0px;
  border: none;
  color: #fff;
  background: #E3010F;
}

.services__body {
  padding: 50px;
}

.services__row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
}

.services__column {
  text-align: center;
  padding: 0 18.5px;
  border-radius: 10px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 0px 23px rgba(148, 148, 148, 0.17);
          box-shadow: 0px 0px 23px rgba(148, 148, 148, 0.17);
}

.services-img {
  margin-bottom: 20px;
}

.services__text {
  font-size: 20px;
  font-weight: 400;
  line-height: 137%;
  color: #0C0C0C;
}

.no-webp .kitchens {
  background: url(../img/kirpich.jpg) no-repeat center bottom/cover; }

.kitchens {
  width: 100%;
}

.kitchens__body {
  padding: 80px 0;
}

.kitchens__block {
  margin-bottom: 60px;
}

.kitchens-block__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.kitchens-block__title span::after {
  content: "";
  width: 71px;
  height: 6px;
  display: block;
  margin-top: 24px;
  background: #E3010F;
}

.kitchens__row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 350px 350px 350px;
  grid-template-columns: 350px 350px 350px;
  -ms-grid-rows: 620px;
  grid-template-rows: 620px;
  -webkit-column-gap: 46px;
     -moz-column-gap: 46px;
          column-gap: 46px;
  row-gap: 44px;
}

.kitchens__cart {
  border-radius: 15px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 20px rgba(150, 150, 150, 0.25);
          box-shadow: 0px 4px 20px rgba(150, 150, 150, 0.25);
}

.kitchens__cart p {
  font-size: 18px;
  font-weight: 400;
  line-height: 115%;
  margin-bottom: 17px;
  color: #4B4B4B;
}

.kitchens__cart p:last-child {
  margin-bottom: 0px;
}

.kitchens__cart strong {
  font-size: 18px;
  font-weight: 600;
  line-height: 115%;
  margin-left: 10px;
  color: #0C0C0C;
}

.kitchens__cart span {
  font-size: 22px;
  font-weight: 700;
  line-height: 155%;
  color: #E3010F;
}

.kitchens-cart__img img {
  width: 100%;
  height: 230px;
  display: block;
}

.kitchens-cart__body {
  padding: 30px 20px;
}

.kitchens-cart__item {
  margin-bottom: 30px;
  min-height: 140px;
}

.kitchens-cart__info {
  margin-bottom: 70px;
}

.kitchens-cart__info p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.kitchens-cart__price {
  margin-bottom: 30px;
}

.kitchens-cart__price p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.kitchens-cart__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.cart__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
  height: 49px;
  font-size: 14px;
  font-weight: 700;
  line-height: 100%;
  border: 1px solid #E3010F;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: all 200ms;
  -o-transition: all 200ms;
  transition: all 200ms;
  color: #262626;
}

.cart__btn:first-child {
  margin-bottom: 15px;
}

.cart__btn:hover {
  color: #fff;
  background: #E3010F;
}

.cart__btn.active {
  color: #fff;
  background: #E3010F;
}

.catalog__block {
  margin-bottom: 50px;
}

.catalog-block__title {
  max-width: 716px;
  margin-bottom: 45px;
}

.catalog-block__title span::after {
  content: "";
  width: 71px;
  height: 6px;
  display: block;
  margin-top: 24px;
  background: #E3010F;
}

.catalog-block__text {
  max-width: 602px;
  font-size: 28px;
  font-weight: 400;
  line-height: 115%;
  color: #0C0C0C;
}

.catalog-block__text span {
  font-weight: 700;
}

.catalog__cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 350px 350px 350px;
  grid-template-columns: 350px 350px 350px;
  -webkit-column-gap: 42px;
     -moz-column-gap: 42px;
          column-gap: 42px;
}

.catalog__card {
  border-radius: 15px;
  -webkit-box-shadow: 0px 4px 20px rgba(150, 150, 150, 0.25);
          box-shadow: 0px 4px 20px rgba(150, 150, 150, 0.25);
  background: #FFFFFF;
}

.catalog-card__img img {
  width: 100%;
  height: auto;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}

.catalog-card__item {
  padding: 20px;
}

.catalog-card__header {
  font-size: 23px;
  font-weight: 700;
  line-height: 137%;
  margin-bottom: 10px;
  color: #0C0C0C;
}

.catalog-card__text {
  font-size: 18px;
  font-weight: 400;
  line-height: 126%;
  margin-bottom: 25px;
  color: #0C0C0C;
}

.catalog-card__text span {
  font-weight: 700;
}

.catalog-card__btn .btn {
  margin-top: 0px;
}

.consultation__body {
  padding: 80px 0;
}

.consultation-block__title {
  max-width: 667px;
  margin-bottom: 60px;
}

.consultation-block__title span::after {
  content: "";
  width: 71px;
  height: 6px;
  display: block;
  margin-top: 24px;
  background: #E3010F;
}

.consultation__designers {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 570px 450px;
  grid-template-columns: 570px 450px;
  -webkit-column-gap: 80px;
     -moz-column-gap: 80px;
          column-gap: 80px;
}

.consultation-designers__img {
  width: 100%;
}

.consultation-designers__img img {
  width: 100%;
  height: 617px;
  display: block;
}

.consultation-designers__img .consultation-img__item {
  margin-top: 20px;
  width: 100%;
  height: 86px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.consultation-designers__img .consultation-img__item .consultation-img__text {
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
  color: #0C0C0C;
}

.consultation-designers__img .consultation-img__item .consultation-img__text span {
  font-weight: 700;
}

.consultation-designers__info .consultation-block__title {
  font-size: 36px;
  font-weight: 800;
  line-height: 136%;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.consultation-designers__info .consultation-block__text {
  max-width: 335px;
  font-size: 20px;
  font-weight: 400;
  line-height: 30.6px;
  color: #0C0C0C;
}

.consultaion-info__header {
  margin-bottom: 25px;
}

.consultaion-info__item {
  margin-bottom: 35px;
}

.consultaion-info__text {
  max-width: 360px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
}

.consultaion-info__text:last-child {
  margin-bottom: 0px;
}

.consultaion-info__text img {
  margin-right: 18px;
}

.consultation-designers__contact {
  width: 340px;
}

.consultation-contact__text {
  max-width: 316px;
  font-size: 20px;
  font-weight: 400;
  line-height: 153%;
  color: #0C0C0C;
  margin-bottom: 20px;
}

.consultation__modal {
  width: 100%;
  height: 210px;
  padding: 20px 19.5px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 0px 23px rgba(148, 148, 148, 0.6);
          box-shadow: 0px 0px 23px rgba(148, 148, 148, 0.6);
  border-radius: 10px;
}

.consultation-modal__input {
  width: 300px;
  height: 50px;
  font-size: 17px;
  font-weight: 400;
  line-height: 137%;
  background: #F9F9F9;
  border: 1px solid gray;
  padding: 13px 25px;
  opacity: 0.5;
  border-radius: 4px;
  color: #0C0C0C;
}

.btn {
  margin-top: 10px;
}

.btn.white {
  border: 1px solid #E3010F;
  color: #262626;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 0px 23px rgba(148, 148, 148, 0.17);
          box-shadow: 0px 0px 23px rgba(148, 148, 148, 0.17);
}

.no-webp .solution {
  background: url(../img/more.jpg) no-repeat center bottom/cover; }

.solution {
  width: 100%;
  margin-bottom: 50px;
}

.solution__block {
  max-width: 720px;
  margin-bottom: 60px;
}

.solution-block__title::after {
  content: "";
  width: 71px;
  height: 6px;
  display: block;
  margin-top: 24px;
  background: #E3010F;
}

.solution__row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 350px 350px 350px;
  grid-template-columns: 350px 350px 350px;
  -webkit-column-gap: 46px;
     -moz-column-gap: 46px;
          column-gap: 46px;
}

.solution__column {
  border-radius: 15px;
  -webkit-box-shadow: 0px 4px 20px rgba(150, 150, 150, 0.25);
          box-shadow: 0px 4px 20px rgba(150, 150, 150, 0.25);
  background: #FFFFFF;
}

.solution-column__img img {
  width: 100%;
  height: auto;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}

.solution-column__item {
  padding: 20px;
}

.solution-column__text {
  font-size: 18px;
  font-weight: 600;
  line-height: 115%;
  margin-bottom: 15px;
  color: #0C0C0C;
}

.solution-column__btn .solution__btn {
  width: 253px;
}

.about__body {
  padding: 50px 0;
}

.about__body span {
  font-weight: 700;
}

.about__block {
  margin-bottom: 60px;
}

.about-block__title {
  width: 100%;
}

.about-block__title span::after {
  content: "";
  width: 71px;
  height: 6px;
  display: block;
  margin-top: 24px;
  background: #E3010F;
}

.about__row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 345px 345px 345px;
  grid-template-columns: 345px 345px 345px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 50px;
     -moz-column-gap: 50px;
          column-gap: 50px;
  row-gap: 50px;
  margin-bottom: 80px;
}

.about-column__img img {
  width: 100%;
  height: auto;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}

.about-column__item {
  padding: 15px 15px 15px 0;
}

.about-item__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 115%;
  margin-bottom: 10px;
  color: #0C0C0C;
}

.about-item__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 145%;
  color: #0C0C0C;
}

.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.buttons .btn {
  width: 286px;
}

.buttons .white {
  margin-left: 20px;
}

.no-webp .steps {
  background: url(../img/about__bg.jpg) no-repeat center bottom/cover; }

.steps {
  width: 100%;
}

.steps__body {
  padding: 50px 0;
}

.steps__body span {
  font-weight: 600;
}

.steps-body__block {
  margin-bottom: 40px;
}

.steps-body__title {
  width: 100%;
}

.steps-body__title span::after {
  content: "";
  width: 71px;
  height: 6px;
  display: block;
  margin-top: 24px;
  background: #E3010F;
}

.steps__row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 350px 350px 350px;
  grid-template-columns: 350px 350px 350px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 45px;
     -moz-column-gap: 45px;
          column-gap: 45px;
  row-gap: 50px;
  margin-bottom: 60px;
}

.steps__column {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 20px rgba(150, 150, 150, 0.25);
          box-shadow: 0px 4px 20px rgba(150, 150, 150, 0.25);
  border-radius: 15px;
}

.steps-column__img img {
  width: 100%;
  height: auto;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}

.steps-column__item {
  padding: 20px 20px;
}

.steps-item__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
}

.steps-item__header span {
  width: 35px;
  height: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #E3010F;
  border-radius: 50%;
  margin-right: 15px;
}

.steps-item__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 160%;
  color: #0C0C0C;
}

.steps-item__text span {
  text-decoration: underline;
}

.reviews__body {
  padding: 50px 0;
}

.reviews-body__block {
  margin-bottom: 50px;
}

.reviews-block__title span::after {
  content: "";
  width: 71px;
  height: 6px;
  display: block;
  margin-top: 24px;
  background: #E3010F;
}

.reviews__column {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  padding: 40px 45px;
  -webkit-column-gap: 45px;
     -moz-column-gap: 45px;
          column-gap: 45px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 20px rgba(150, 150, 150, 0.5);
          box-shadow: 0px 4px 20px rgba(150, 150, 150, 0.5);
  border-radius: 15px;
}

.reviews-column__date {
  font-size: 16px;
  font-weight: 600;
  line-height: 115%;
  margin-bottom: 20px;
  color: #818181;
}

.reviews-column__name {
  font-size: 24px;
  font-weight: 800;
  line-height: 115%;
  margin-bottom: 12px;
  color: #0C0C0C;
}

.reviews-column__stars {
  margin-bottom: 20px;
}

.reviews-column__stars img {
  width: 11px;
  height: 11px;
}

.reviews-column__text {
  min-width: 519px;
  font-size: 16px;
  font-weight: 400;
  line-height: 165%;
  margin-bottom: 10px;
  color: #0C0C0C;
}

.reviews-column__btn .btn {
  width: 286px;
}

.reviews-column__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.reviews-column__img img {
  width: 222px;
  height: 256px;
}

.no-webp .order {
  background: url(../img/intro__bg.jpg) no-repeat right center/cover; }

.order {
  width: 100%;
  margin-top: 50px;
}

.order .stock__modal {
  margin-top: 85px;
}

.order__body {
  padding: 50px 0;
}

.order-body__block {
  max-width: 506px;
}

.order-block__title {
  margin-bottom: 43px;
}

.order-block__title.title {
  font-size: 60px;
}

.order-block__list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.order-block__list li:last-child {
  margin-bottom: 0px;
}

.order-block__list li img {
  margin-right: 15px;
}

.order-block__list li p {
  font-size: 22px;
  font-weight: 600;
  line-height: 137%;
  color: #0C0C0C;
}

.order-block__list li span {
  font-weight: 700;
}

.questions__body {
  padding: 80px 0;
}

.questions-body__block {
  margin-bottom: 80px;
}

.questions-block__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  margin: 0 auto;
}

.questions-body__item {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
  grid-template-columns: auto auto auto;
  -ms-grid-rows: 318px;
  grid-template-rows: 318px;
}

.questions-info__content {
  width: 254px;
  height: 135px;
  padding: 30px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 20px #969696;
          box-shadow: 0px 4px 20px #969696;
  border-radius: 15px;
  margin-bottom: 40px;
}

.questions-info__content:last-child {
  margin-bottom: 0px;
}

.questions-info__content img {
  width: 40px;
  height: 40px;
  margin-right: 18px;
}

.questions-info__content p {
  font-size: 15px;
  font-weight: 600;
  line-height: 25px;
  color: #000;
}

.questions-item__img {
  text-align: center;
}

.questions-item__img img {
  margin: 0 auto;
  width: 267px;
  height: 267px;
  display: block;
  border-radius: 50%;
  margin-bottom: 28px;
}

.questions-item__img strong {
  font-size: 20px;
  font-weight: 800;
  line-height: 23px;
  color: #0C0C0C;
}

.questions-item__call {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.questions-item__call img {
  width: 40px;
  height: 40px;
  margin-right: 18px;
}

.questions__number {
  width: 100%;
  margin-top: 80px;
}

.questions__number__block {
  max-width: 786px;
  text-align: center;
  margin: 0 auto;
}

.questions__number-block__title {
  font-size: 26px;
  font-weight: 700;
  line-height: 130%;
  margin-bottom: 25px;
  color: #0C0C0C;
}

.questions__number__submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.questions__number__submit input {
  width: 290px;
  height: 54px;
  font-size: 16px;
  font-weight: 400;
  line-height: 100%;
  padding: 18px 37.5px;
  background: #FFFFFF;
  border: 1px solid #ECECEC;
  border-radius: 5px 0px 0px 5px;
}

.questions__number__submit .btn {
  width: 222px;
  margin-top: 0px;
}

.contacts {
  width: 100%;
}

.contacts__block {
  padding: 80px 0 0 0;
}

.contacts-block__title {
  font-size: 48px;
  font-weight: 800;
  line-height: 115%;
  margin-bottom: 50px;
  text-align: center;
  color: #0C0C0C;
}

.no-webp .contacts-block__item {
  background: url(../img/karta.jpg) no-repeat center bottom/cover; }

.contacts-block__item {
  width: 100%;
  height: 350px;
  padding: 58px 66px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts-block__box {
  width: 322px;
  height: 234px;
  padding: 30px 20px;
  background: rgba(255, 255, 255, 0.95);
  border-radius: 10px;
}

.contacts-block__address {
  margin-bottom: 15px;
}

.contacts-block__address:last-child {
  margin-bottom: 0px;
}

.contacts-block__address strong {
  font-size: 15px;
  font-weight: 700;
  line-height: 25px;
  margin-bottom: 3px;
  color: #000;
}

.contacts-block__address p {
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  color: #000000;
}

.webp .intro { background: url(../img/intro__bg.webp) no-repeat center bottom; }

.webp .kitchens { background: url(../img/kirpich.webp) no-repeat center bottom/cover; }

.webp .solution { background: url(../img/more.webp) no-repeat center bottom/cover; }

.webp .steps { background: url(../img/about__bg.webp) no-repeat center bottom/cover; }

.webp .order { background: url(../img/intro__bg.webp) no-repeat right center/cover; }

.webp .contacts-block__item { background: url(../img/karta.webp) no-repeat center bottom/cover; }